<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blaseball Slats Viewer</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<div id="app">
		<div id="teamlist">
			<div class="notice" v-show="failed_teams">Could not load teams. Reloading will fix, unless the machines are under load.</div>

			<div class="notice" v-show="load_fails > 0 || player_load_fails > 0">Some teams or players have not loaded correctly. Reloading will help, unless the machines are under significant load. {{load_fails}} failed team loads. {{player_load_fails}} failed player set loads. </div>

			<div class="team" :class="{selected: index == selected_team}" v-for="(team, index) in teams" :style="{backgroundColor: team.color1}" @click="selected_team = index">
				{{team.icon}} {{team.name}}
				<span class="notice" v-if="team.lineup == undefined">Lineup load failed.</span>
				<span class="notice" v-if="team.rotation == undefined">Rotation load failed.</span>
			</div>

			<div class="notice" style="background-color: #333366">Bug? Feature request? Blaseball added a new stat and nobody noticed? Post it <a href="https://todo.sr.ht/~dittoslash/blaseballstlats">here</a> or ping me in <a href="https://discord.gg/nVZXxwX">the SIBR discord!</a></div>
		</div>
		<div id="players">
			<div class="pteam" v-for="(team, index) in teams">
				<div v-show="index == selected_team">
					<div class="playerhead"> <div class="name">STATS</div> <template v-for="name in prop_abbvr"> <span class="propname">{{name}}</span></template></div>
					<div class="bar"> LINEUP </div>
					<div v-for="player in team.lineup"><player-deets v-bind:player="player"></player-deets></div>
					<div class="bar"> ROTATION </div>
					<div v-for="player in team.rotation"><player-deets v-bind:player="player"></player-deets></div>
				</div>
			</div>

			<div id="dictionary">
				<span class="dictionary">Abbreviations Dictionary</span>
				<span class="dictionary" v-for="a in prop_names.map((n, i) => [n, prop_abbvr[i]])">{{a[1]}}: {{a[0]}}</span>
			</div>
		</div>
	</div>
	<script src="js/data.js"></script>
	<script src="js/comp-playerdeets.js"></script>
	<script src="js/main.js"></script>
</body>
</html>