/*This really needs a cleanup eventually*/

@font-face {
	font-family: "Lora Regular";
	src: url("font/Lora-Regular.ttf");
}
@font-face {
	font-family: "Lora Bold";
	src: url("font/Lora-Bold.ttf");
}

html, body {
	font-family: "Lora Regular",sans-serif,"Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji","Apple Color Emoji";
	height: 100%;
	margin: 0;
}

#app {
	display: grid;
	grid-template-columns: 1fr 3.5fr;
	grid-template-rows: 1fr;
	height: 100%;
}

#teamlist {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	background-color: #222255;
}

.team { padding: 0.2em 0.5em; }

.team:hover { margin: 0 0 0 0.5em; }
.team.selected { margin: 0 0 0 0.7em; }

#dictionary {
	padding: 0.2em;
	margin: 0.3em 0.5em;
	background-color: #575788;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
}

.dictionary {
	padding: 0.2em 0.4em;
	margin: 0.1em;
	background-color: #333366;
	color: white;
	border-radius: 5px;
	border: 1px solid #000011;
}

.bar {
	font-family: "Lora Bold";
	padding: 0.1em 0.3em;
	background-color: #111133;
	color: white;
}

.player, .playerhead {
	padding: 0.1em 0;
	display: grid;
	grid-template-columns: 14% repeat(31, 1fr);
	grid-template-rows: 1fr; /*1fr;*/
	border-bottom: 2px solid #111133;
}

.name {
	grid-column: 1 / span 1;
	grid-row: 1 / span 2;
}

.propname, .prop {font-size: 8pt; text-align: center; border-radius: 2px;}

.prop.great {background-color: #33dddd;}
.prop.good {background-color: #33cc33;}
.prop.ok {background-color: #eeaa33;}
.prop.bad {background-color: #bb2233;}

.notice {
	background-color: #eeaa33;
	border-radius: 5px;
	margin: 0.1em;
	padding: 0.1em 0.2em;
}

a {color: #99f;}
a:visited {color: #55f;}